In [1]:
a=5
b=10
print(a==b)

False

In [2]:
a==b

False

In [3]:
a=5
print(type(a))

<class 'int'>

In [4]:
b=3.14
print(type(b))

<class 'float'>

In [5]:
c="hello"
print(type(c))

<class 'str'>

In [6]:
type(a)

int

In [10]:
a='bonjour'
b=' tout le '
c=' monde '
d= ' la famille'
a+b+c

'bonjour tout le  monde '

In [11]:
a+d

'bonjour la famille'

In [16]:
liste_A= [1,34,52,'slt']
liste_B = [0,3,209,4025,554,6,1]
liste_C = [0,53,562,'rdv',[17, "l",298,43]]

In [17]:
liste_A[1]

34

In [18]:
liste_C[-1]

[17, 'l', 298, 43]

In [20]:
liste_C[-1][0]

17

In [21]:
liste_B[0:2]

[0, 3]

In [23]:
liste_B[0:5:2]

[0, 209, 554]

In [24]:
liste_B[::-1] # REVERSING A LIST

[1, 6, 554, 4025, 209, 3, 0]

In [28]:
reversed_list=liste_B[::-1]
reversed_list

[1, 6, 554, 4025, 209, 3, 0]

In [29]:
# Methods on lists
List = [333,276,4827,187,984]
List.sort()
print(List)

[187, 276, 333, 984, 4827]

In [31]:
List.append('hi') # Add an entry at the end
print(List)

[187, 276, 333, 984, 4827, 'hi', 'hi']

In [35]:
List.count('hi') # counts the number of times the entry 'hi' appears

2

In [37]:
List.extend([7,8,9])
print(List)

[187, 276, 333, 984, 4827, 'hi', 'hi', 7, 8, 9, 7, 8, 9]

In [38]:
List.append([7,8,9])
print(List)

[187, 276, 333, 984, 4827, 'hi', 'hi', 7, 8, 9, 7, 8, 9, [7, 8, 9]]

In [42]:
MyTuple=(2020,34,42,'h')# A tuple is similar to a list but cannot be modified;it is defined by parenthesis
MyTuple[1]

34

In [41]:
MyTuple[1]=10 # on ne peut pas changer les elements d'un tuple

TypeError: 'tuple' object does not support item assignment

In [43]:
months={'jan':31,'fev':29,'Mar':31,'Apr':30}# a dictionary is 
months['Apr'] # similar to a list, but each entry is assigned by a key/name
# and is defined with curly braces.

30

In [44]:
months.values()

dict_values([31, 29, 31, 30])

In [45]:
months.keys()

dict_keys(['jan', 'fev', 'Mar', 'Apr'])

In [46]:
months.items()

dict_items([('jan', 31), ('fev', 29), ('Mar', 31), ('Apr', 30)])

In [49]:
# 1- Import pandas first, ensure that you have pandas installed and
# import it into your python environment
import pandas as pd
 # 2- Create a data frame using various methods
# a - From a dictionary
data={'column1':[1,2,3], 'column2' :['A','B','C']}
df=pd.DataFrame(data)
df

   column1 column2
0        1       A
1        2       B
2        3       C

In [54]:
# From a list of list
data=[[1,'A'],[2,'B'],[3,'C']]
df=pd.DataFrame(data,columns=['column1','column2'])
df

   column1 column2
0        1       A
1        2       B
2        3       C

# From a CSV FILE:
df=pd.read_csv('name file')

In [60]:
# 3- Inspect the DataFrame
# Use methods to view the DataFrame and understand its structure
print(df.head()) # display 5 first rows by default

   column1 column2
0        1       A
1        2       B

In [61]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  3 non-null      int64
 1   column2  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None