## Exercice 01

In [1]:
list_of_integers = [0,1,2,3,4,5,6,7,8,9]

## Exercice 2

In [2]:
tuple = ("apple", "banana","cherry")

## Exercice 3

In [4]:
numbers = [10, 20, 30, 40]
num = tuple(numbers)

(10, 20, 30, 40)

## Exercice 4

In [8]:
MY_SET = {1 ,2, 3, 4, 5}

## Exercice 5

In [9]:
students={"name":"Alice", "age":"20", "grade":"A"}

## Exercice 6

In [10]:
list1 = [10, 20, 30, 40, 50]
list1[1]

20

## Exercice 7

In [1]:
fruits = ["apple","banana", "cherry", "orange"]
fruits[2] = 'mango'
fruits

['apple', 'banana', 'mango', 'orange']

## Exercice 8

In [14]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)

{1, 2, 3, 4, 5, 6}

## Exercice 9

In [22]:
person = {"name": "john" , "age":25 , "city": "New York"}
del person["age"]
person

{'name': 'john', 'city': 'New York'}

## Exercice 10

In [24]:
rang =[]
for i in range(10):
    rang.append(i)
rang

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercice 11

In [25]:
squares = [i**2 for i in range (1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Exercice 12

In [34]:
even=tuple(i*2 for i in range(1,6))
even

(2, 4, 6, 8, 10)

## Exercice 13

In [36]:
fruits = ["apple", "banana","cherry"]
for i in range(0,3) :
    print(fruits[i])

apple
banana
cherry

## Exercice 14

In [40]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print("oui")
else:
    print("non")

oui

## Exercice 15

In [5]:
numbers={1,2,3,4,5}
len(numbers) # use len function to find the length of the tuple

5

## Exercice 16

In [6]:
scores = [80, 85, 90, 95]
scores.append(100)

## Exercice 17

In [26]:
def sum1(x):
    sum11=0
    list1=[]
    for i in range(x):
        a=int(input("donner une valeur en entree:"))
        list1.append(a)
    list1
    for i in range(x):
        sum11+=list1[i]
    sum11
    return list1 , sum11
sum1(5)

donner une valeur en entree:3
donner une valeur en entree:5
donner une valeur en entree:8
donner une valeur en entree:9
donner une valeur en entree:4

([3, 5, 8, 9, 4], 29)

## Exercice 18

In [40]:

 LIST = []
numbers=[1,2,2,3,4,4,5]
for i in numbers:
    if i not in LIST:
        LIST.append(i)
LIST

[2, 2, 3, 4]

## Exercice 19

In [41]:
str1="HELLO"
LIST2=[]
for i in str1:
    LIST2.append(i)
LIST2

['H', 'E', 'L', 'L', 'O']

## Exercice 20

In [ ]:
def reverses():
    tuple1=(1, 2, 3, 4)
    tuple2=tuple1[::-1]
    print(tuple2)
reverses()

## Exercice 21

In [ ]:
dict1 = {"a":1,"b":2}
dict2 = {"c":3, "d":4}
dict1.update(dict2)
dict1

## Exercice 22

In [1]:
dicti = {}
for i in range(6):
    dicti[str(i)] = i**2
dicti

{'0': 0, '1': 1, '2': 4, '3': 9, '4': 16, '5': 25}

## EXercice 23

In [2]:
dict_m={"nom":"Marème","prénom":"soda","age":26}
for key,value in dict_m.items():
    print(f"{key}:{value}")

nom:Marème
prénom:soda
age:26

## Exercice 24

In [4]:
letters=[chr(i) for i in range(97,102)]
letters

['a', 'b', 'c', 'd', 'e']

## Exercice 25

In [7]:
digit=[1,2,3]
let=["a","b","c"]
list(zip(let,digit))

[('a', 1), ('b', 2), ('c', 3)]

## Exercice 26

In [9]:
list1=[10, 20, 30, 40, 50]
a=list1.index(50)
print(f"l'index de la valeur 50 est {a}")

l'index de la valeur 50 est 4

## Exercice 27

In [17]:
names = ["Bob", "Alice", "David","Charlie"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

## Exercice 28

In [20]:
def mini(numbers):
    if not numbers:
        raise ValueError("The list cannot be empty.")
    
    minim = numbers[0]
    for num in numbers:
        if num > minim:
            minim = num
    return minim
integers=[]
for i in range(6):
    n=int(input("faites entrer un nombre:"))
    integers.append(n)
mini(integers)

faites entrer un nombre:2
faites entrer un nombre:6
faites entrer un nombre:2
faites entrer un nombre:0
faites entrer un nombre:7
faites entrer un nombre:4

7

## Exercice 29

In [21]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

## Exercice 30

In [28]:
person={"name":"Marème soda DIOP","age":26,"city":"New York"}
person["city"]

'New York'

## Exercice 31

In [35]:
def new_list(duplicates_list):
    list1=[]
    for item in duplicates_list:
        if item not in list1:
            list1.append(item)
        list1
    return list1
numbers=[1,4,2,2,4,5,5]
new_list(numbers)

[1, 4, 2, 5]

## Exercice 33

In [38]:
def square():
    for i in range (11):
        yield i**2
for i in square():
    print(i)

0
1
4
9
16
25
36
49
64
81
100

## Exercice 32

In [3]:
def list_intersection(list1, list2):
    
    return list(set(list1) & set(list2))
list1=[1,3,5,7,9]
list2=[3,5]
list_intersection(list1,list2)

[3, 5]

## Exercice 34

In [4]:
def sum_dict_values(d):
    
    return sum(d.values())
my_dict = {'a': 10, 'b': 20, 'c': 5}
print(sum_dict_values(my_dict))

35

## Exercice 35

In [5]:
my_list = [3, 1, 4, 1, 5, 9]

# Sort in ascending order
sorted_list = sorted(my_list)

print(sorted_list)

[1, 1, 3, 4, 5, 9]

## Exercice 36

In [7]:
def longest_string(string_list):
    longest = string_list[0]
    for char in string_list:
        if len(char) > len(longest):
            longest = char
    return longest


fruits = ["apple", "banana", "poivre", "fruit_rouge"]
print(longest_string(fruits))

fruit_rouge

## Exercice 37

In [10]:
list1=[1, 2, 3, 4, 5]
elements_positif=all(i>0 for i in list1)
elements_positif

True

## Exercice 38

In [11]:
squares = [(n, n**2) for n in range(1, 6)]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

## Exercice 39

In [12]:
def second_elements(list_of_tuple):
    
    return [lot[1] for lot in list_of_tuple]

tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
result = second_elements(tuples)
print(result)  # Output: ['a', 'b', 'c']

['a', 'b', 'c']

## Exercice 40

In [18]:
def flatten_list(list_in_list):
    list1 = []
    for sublist in list2:
        for item in sublist:
            list1.append(item)
    return list1
flatten_list = lambda list2: [item for sublist in list2 for item in sublist]
data = [[1, 2, 3], [4, 5], [6, 7, 8]]
print(flatten_list(data))

[1, 2, 3, 4, 5, 6, 7, 8]